.seats-airplane {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: hidden;

    & svg {
        width: calc(100% * 2.5);
        height: min-content;
        margin-top: -180px;
        margin-left: -93%;
    }

    &__seat {
        cursor: default;
        fill: #E9E8FC;

        &__first-class--available {
            cursor: pointer;
            fill: #5CD6C0;
        }

        &__standard-class--available {
            cursor: pointer;
            fill: #1C1B5E;
        }

        &--selected {
            fill: #EB568C;
        }
        &--reserved {
            fill: #c7943a;
        }
    }
}