@use '../../themes/aero-zip/variables/colors_variables' as colors_variables;

.home {
  background-image: url('/world-map.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;
  padding-top: 100px;
  padding-bottom: 200px;

  &__title {
    font-weight: 800;
    font-size: 6rem;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

    background-image: url('/group-8-color.png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    margin-top: 5.844rem;
    animation: fadeIn 1s ease-in;
  }

  &__flight-selection {
    &__text {
      font-weight: 600;
      font-size: 1rem;
      line-height: 100%;
      letter-spacing: 0px;
      color: colors_variables.get-color('grey-400');
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
